@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-gradient: linear-gradient(to bottom, #032e15, #033b1c, #024922, #025729, #016630);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-primary {
    background-image: var(--primary-gradient);
  }

  .hover\:bg-primary-dark:hover {
    background-image: linear-gradient(to bottom, #021e0e, #022814, #013217, #013c1b, #01461f);
  }

  .text-primary-gradient {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 0.6;
  }
}
